<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnasoftware.smartdnsproxy" >

    <!-- For Calling the REST API -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- For BroadcastReceiver -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ServiceActivity"
            android:theme="@style/Theme.Transparent"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast receiver for connectivity state changes -->
        <receiver android:name="com.dnasoftware.smartdnsproxy.BroadCastReceivers.WifiStatusChangeReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.dnsoftware.smartdnsproxy.RETRY_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BroadCastReceivers.NotificationUpdateInputReceiver" />
    </application>

</manifest>
